
 <div class="row">
    <div class="col-lg-2">
      <h6>"All the News That's Fit to Print."</h6>
    </div>
    <div class="col-lg-8"><h1>The New Yorker Gazette</h1></div>
      <div class="col-lg-2">
        <h4>LATE CITY EDITION</h4>
       	<p> </p>
      </div>
    </div>
    <!-- bottom Title -->
    <div class="row frame1">
      <div class="col-md-4"><p>NEWS INDEX PAGE 30 THIS EDITION</p></div>
      <div class="col-md-4 keepcenter">copyright The New Yorker Gazette Company 1944 </div>
      <div class="col-md-4"></div>
    </div>
    <!-- sandwiched -->
    <div class="row frame1">
      <div class="col-md-4"><p id="keepleft">VOL. XC No. 83434957</p></div>
      <div class="col-md-4 keepcenter">NEW YORK, TUESDAY, MAY 8TH 1945 </div>
      <div class="col-md-4"><p id="keepright">Ten Cents New York City</p></div>
    </div>
    <!-- Main Headline News -->
    <div class="main-content">
      <div class="row maxHeadline">
        <div id="articles" class="col-lg-12">Article Number</div>
        <div class="col-lg-12">
        		<div class="btn-group" role="group" aria-label="...">
  		 		<button id="next" type="button" class="btn btn-default">Next Article</button>
        </div>
         
	    </div>
      </div>
      <div class="row maxHeadline">
        <div class="col-lg-12">
        	<h2>COMMENT/UPDATE THIS ARTICLE</h2>
        	<div id="notes"></div>
				</div>	
       </div>
    </div>
      <div class="row maxHeadline"> 
      	<div class="col-md-12">
        	<h2 id="leaveComment">This is your comment for this article</h2>
        </div> 
        <div class="btn-group" role="group" aria-label="...">
  		 		<button id="remove" type="button" class="btn btn-default">Remove Comment</button>
	    	</div>
      </div>
      <div class="row marco">
        <div class="col-md-12">
        	<h2 id="cease">Beaten Germany Accepts Armistice Terms And Hostilities Cease In All Fronts</h2>
        </div>
      </div>
      <div class="row marco">
        <div class="col-md-6">
        	<h2 class="subcol">MONS TAKEN BY THE BRITISH AS NEWS REACHES ARMY</h2>
        </div>
        <div class="col-md-6">
        	<h2 class="subcol" id="tor">ALL CROWNED HEADS OF EMPIRE BUSY ABDICATING</h2>
        </div>
      </div>
      <div class="row marco">
        <div class="col-md-12">
        	<h2 id="abdicate">Kaiser, Crown Prince and Hindenburg Seek Refuge In Holland</h2>
        </div>
      </div>
    </div>
